[Unit]
Description=Icinga Selenium Chrome Driver

[Service]
Type=simple
ExecStart=/etc/icingaweb2/modules/selenium/binaries/chromedriver --verbose --port=9515
Restart=on-success
User=root

[Install]
WantedBy=multi-user.target